.cart{
	min-height: 100vh;
	min-width: 100vw;
    background: linear-gradient(106.83deg, rgba(95, 143, 255, 0.5) 10%, #FF5F5F 100%);
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}

.cart__container{
	@include desing;
	box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0.25);
	margin: 90px $mb-3 $mb-3 $mb-3;
	padding: $mb-1 $mb-4 $mb-2 $mb-4;
	height: 82vh;
	width: 100%;
	max-width: 900px;
}

.cart__title{
	text-align: center;
	margin: $mb-2 0;
	color: $white-color;
}

.cart__items{
	margin-top:  $mb-4;
	padding: 0 $mb-2;
	height: 80%;
	overflow-y: scroll;
}

.cart__items::-webkit-scrollbar{
	display: block;
	width: 8px;
}

.cart__items::-webkit-scrollbar-thumb{
	@include desing;
	border-radius: 8px;
}

.cart__product{
    @include desing;
	display: flex;
	align-items: center;
	padding: $mb-2 $mb-4;
	margin: $mb-2 0 $mb-2 0;
}

.cart__product:first-child{
	margin-top: 0;
}

.cart__product:last-child{
	margin-bottom: 0;
}

.cart__product__img{
	flex-basis: 120px;
	display: flex;
	justify-content: center;
}

.cart__product__data{
	display: flex;
	align-items: center;
	margin: 0px 10px;
	height: 100px;
	width: 100%;
	justify-content: space-between;
}

#cart__product__title{
	font-family: 'roboto';
	font-size: 16px;
    display: inline;
    color: red;

}

#cart__product__price{
	position: absolute;
	right: 33%;
}

.edit__quant{
	display: flex;
}

.edit__count__btn{
	padding-top: 4px;
	cursor: pointer;
	margin: 0 5px;
}

.quant__input {
	@include desing;
	text-align: center;
	border: none;
	border-radius: 200px;
	max-width: 40px;
}

.cart__btn {
	width: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
	width: 200px;
	height: 50px;
}

.remove__cart {
	margin: 0px 25px;

	&:hover{
        transform: scale(1.1);
	}
}

.cart__bottom{
	margin-top: $mb-2;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
}
