.checkout{ 
    height: 100vh;
	width: 100vw;
    background: linear-gradient(106.83deg, rgba(95, 143, 255, 0.5) 10%, #FF5F5F 100%);
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}

.checkout__container {
	@include desing;
	box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0.25);
	margin: 90px $mb-3 $mb-3 $mb-3;
	padding: $mb-1 $mb-4 $mb-2 $mb-4;
    height: 82vh;
	width: 100%;
	max-width: 900px;
}

.checkout__header{
    @include desing;
    display: grid;
    grid-template-columns: 1fr 2.3fr .6fr .6fr .6fr;
    text-align: center;
    align-items: center;
    padding: $mb-1 $mb-2;
    margin: $mb-4 $mb-3 $mb-2 $mb-3;
}

.checkout__title{
    font-family: 'roboto';
	font-size: 20px;
    margin: 0 $mb-2;
}

.checkout__box{
    height: 46vh;
    overflow-y: scroll;
    margin: $mb-2;
}

.checkout__box::-webkit-scrollbar{
	display: block;
	width: 8px;
}

.checkout__box::-webkit-scrollbar-thumb{
	@include desing;
	border-radius: 8px;
}

.checkout__product{
    @include desing;
    margin: $mb-1 $mb-1;
    display: grid;
    grid-template-columns: 1fr 2.3fr .7fr .7fr .7fr;
}

.checkout__product:first-child{
    margin-top: 0;
}

.checkout__product:last-child{
    margin-bottom: 0;
}

.checkout__item{
    font-family: 'roboto';
	font-size: 18px;
    color: red;
    display: flex;
    align-items: center;
    padding: $mb-2 $mb-2;
}

.checkout__item:first-child{
    margin-left: $mb-2;
}

.checkout__img{
    width: 70px;
}

.textarea__container{
    display: flex;
    margin-bottom: $mb-3;
}

.total__price{
    @include desing;
    display: block;
    margin: auto $mb-2;
    align-items: center;
    width: 200px;
	font-size: 18px;
    padding: $mb-2;
}