/*===== CONTACT ======*/
.contact{
    background: linear-gradient(107deg, rgba(95, 143, 255, 0.5) 10%, #FF5F5F 100%);
  }
  
  .contact__container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
  }

  .contact__img{
    height: 71vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  
  .contact-form{
    min-width: 450px;
    width: 30%;
    min-height: 56vh;
    max-height: 80vh;
    @include desing;
    box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0.25);
    text-align: center;
  }
  
  .contact__title{
    font-size: 2rem;
    color: $white-color;
    text-align: center;
  }
  
  .form__section{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: $mb-2 $mb-4;
  }

  textarea, .input, .in{
    font-family: 'roboto';
    font-size: $h2-font-size;
    background: linear-gradient(113deg, rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.2) 56%);
    color: $white-color;
    padding: $mb-2;
    margin: 0 $mb-4;
    border-radius: 18px;
    border: none;
    resize: none;
    max-height: 200px;
    width: 100%;
  }
      
  .contact__btn{
    font-family: 'Open Sans';
    margin: $mb-2 0 $mb-2 0;
  }

  .contact-form-loader{
    width: 100%;
  }

  .loader{
    padding: $mb-1;
    width: 70px;
    height: 70px;
  }

  .form__submitted{
    font-family: 'Open Sans';
    padding: $mb-1 $mb-2;
    background-color: rgb(145, 238, 7);
    font-size: $h2-font-size;
    border-radius: 18px;
  }

  .contact-form ::placeholder{
    color: $white-color;
  }

  .contact-form [required]:valid{
    border: 2px solid greenyellow;
  }

  .contact-form [required]:invalid{
    border: 2px solid red;
  }

  .contact-form-error{
    font-size: 80%;
    background-color: red;
    color: $white-color;
    transition: all 600ms ease;
    padding: $mb-1;
    border-radius: 0 0 20px 20px;
    width: 100%;
    margin: -1rem $mb-4 0 $mb-4;
  }

  .contact-form-error.is-active{
    display: block;
    animation: show__message 1s 1 normal 0s ease-out both;
  }

  .none{
    display: none;
  }

  @keyframes show__message {
    0% {
      visibility: hidden;
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }