/*music en Index.html - sobre nosotros, historia en About.html*/
@mixin desing (){
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.4) 19%, rgba(255, 255, 255, 0.1) 70%);
    backdrop-filter: blur(20px);
    border-radius: 20px;
}