/*===== NAV =====*/
.nav{
    height: $header-height;
    display: flex;
    justify-content: initial;
    align-items: center;
    margin-right: $mb-4;
  }

  .nav__menu{
    margin-left: auto;
  }

  .nav__list{
    display: flex;
    justify-content: space-between;
  }

  .nav__item{
    margin: 0 $mb-2;
  }
  
  .nav__link{
    color: $white-color;
    font-size: $h2-font-size;

    &:hover{
      color: $first-color-alt;
    }
  }
  
  .nav__logo{
    height: 2.5rem;
    margin-left: $mb-4;
  }
  
  .nav__account{
    margin: 0 $mb-1;
  }

  .main__cart{
    margin-right: $mb-2;
    display: flex;
  }

  .count__cart{
    margin-bottom: $mb-3;
  }